/* Body Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 1600px;
}

/* Shared Style */
.font-work-sans {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.green_color {
  color: #09ff00;
}

.btn {
  color: #005fac;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 26px;
  border-radius: 5px;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn2 {
  color: #fff;
  background-color: #005fac;
  border: 1px solid #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 26px;
  border-radius: 5px;
}

.btn2:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* Header Style */

header {
  background: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
}

.header_content {
  padding: 216px 230px 156px 860px;
  text-align: right;
}

.header_content h1 {
  font-size: 65px;
  color: white;
  font-weight: bold;
  margin-bottom: 24px;
}

.header_content p {
  font-size: 16px;
  color: white;
  line-height: 26px;
  margin-bottom: 32px;
}

/* About Section Style */
#about {
  display: flex;
  justify-content: center;
  padding: 131px 0px;
}

.about_container {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 87px;
}

.about_text {
  padding-top: 239px;
  width: 416px;
}

.about_text h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #151414;
}

.about_text p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
  color: #444343;
}

.about_point {
  gap: 8px;
}

.point {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  gap: 10px;
}

/* Plan Section Style */
.plan_container {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  align-items: center;
}

.plan_heading {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}

.plan_heading h2 {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
}

.plan_box {
  display: flex;
  justify-content: space-between;
}

.plan_card {
  margin: 0px auto;
  text-align: center;
}

.plan_card h3 {
  font-size: 30px;
  font-weight: bold;
  color: #151414;
  padding: 24px 0px 16px 0px;
}

.plan_card p {
  font-size: 25px;
  color: #737272;
  font-weight: 600px;
}

/* Banner Section Style */
#banner {
  width: 71%;
  max-width: 1140px;
  height: 300px;
  margin: 130px auto;
  align-items: center;
  background: url("../images/watch.png");
  background-repeat: no-repeat;
  border-radius: 5px;
}

.banner_content {
  padding: 59px 0px 59px 64px;
  width: 540px;
}

.banner_content h1 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 24px;
}

/* Footer Section Style */
footer {
  background-color: #151414;
  display: flex;
  justify-content: center;
}

.footer_content {
  width: 71%;
  max-width: 1140px;
  display: flex;
  gap: 331px;
  padding: 130px 0px;
}

.footer_text {
  width: 485px;
}

.footer_text h1 {
  font-size: 45px;
  font-weight: bold;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.footer_text p {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 24px;
}

.contact {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  gap: 16px;
  margin-bottom: 32px;
}

.footer_icon img {
  padding-right: 18px;
}

.footer_form h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 31px;
}

.footer_form input {
  width: 325px;
  padding: 21px 22px;
  font-size: 18px;
  color: #f3f3f3;
  margin-bottom: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
}
